@import './base.css';

#app {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(0, 151, 189);
  transition: background-color 0.4s, color 0.4s;
  padding: 8px 12px;
  border-radius: 8px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 151, 189, 0.25);
  }
}

@media (min-width: 100%) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}
